body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

object{
  height: 100px;
  width: 100px;
}

.column{
  display: inline-block;
  vertical-align: top;

}

.logo{
  padding: 5px;
}

.logo:hover{
  padding: 1px;

}

.logo:hover object{
  width: 108px!important;
  height: 108px!important;
}

.logo:active{
  padding: 7px;
}

.logo:active object{
  width: 96px!important;
  height: 96px!important;
}


.grid-col {
  padding: 35px;
}
.info-col {
  padding: 20px;
}

#globecontainer{
  margin-left: 15%;
  margin-right: auto;
}

#globecontainer .arc{
    stroke-weight: 0.1;
}

#sidenavbar{
  margin-left: 2%;
}
